:root {
  --tile-size : 80px;
  --light-tile : #F0D8B6;
  --dark-tile : #B48764;
  --bg-color : #202020;
  --highlight : rgba(0,0,0,.1);
  --check : #FEEC48;
  --target:rgb(237, 51, 37);
}

*{
  text-align: center;
}

.App {
  /* display: grid; */
  /* place-content: center; */
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: var(--bg-color);
  /* grid-template-columns: auto 220px; */

}

button{
  background: var(--dark-tile);
  color:var(--light-tile);
  border: 0 none;
  padding: 10px  30px;
  margin: 10px 0;
  font-size: 1em;
}

@media all and (max-width: 450px) {
  :root {
      --tile-size : 50px;
  }
}